.comment
  .username
    = link_to comment.user.username, profile_path(post.user.username)
  .comment-content
    = comment.thoughts
  - if comment.user == current_user
    = link_to post_comment_path(post, comment),
              method: :delete,
              data: { confirm: t('comments.destroy.confirm') },
              remote: true,
              id: "delete_#{comment.id}",
              class: "delete-comment" do
      %span.glyphicon.glyphicon-remove.delete-comment-icon
