.comment
  .username
    = link_to comment.user.username, profile_path(post.user.username)
  .comment-content
    = comment.thoughts
  - if comment.user == current_user
    = link_to t('comments.destroy.link'),
              post_comment_path(post, comment),
              method: :delete,
              data: { confirm: t('comments.destroy.confirm') },
              remote: true,
              id: "delete_#{comment.id}",
              class: "delete-comment"
