%li.notification
  = link_to link_through_path(notification) do
    = t('notifications.dropdown-menu.item',
        username: notification.notified_by.username,
        notice_type: notification.notice_type)
    .time-ago
      = timeago_tag notification.created_at, nojs: true, force: true
