.dropdown.notification-dropdown
  %button.btn.btn-default.dropdown-toggle{ type: 'button',
                                           id: 'dropdownMenu1',
                                           data: { toggle: 'dropdown' },
                                           'aria-haspopup': true,
                                           'aria-expanded': true }
    = current_user.notifications.where(read: false).count
    %span.glyphicon.glyphicon-flag
  %ul.dropdown-menu{ 'aria-labelledby': 'dropdownMenu1' }
    %li.text-center Notifications
    %li.divider{ role: 'separator' }
    = render current_user.notifications.where(read: false)
    %li.divider{ role: 'separator' }
    %li.text-center See All
