.notifications
  .notification__header
    %h2.notification__title
      = t('notifications.index.header')
  - if @notifications.any?
    .notification__content
      %ul.notification__list
        = render current_user.notifications
  - else
    .notification__content
      = t('notifications.index.empty')
  .notification__pagination#paginator
    = link_to_next_page @notifications, t('notifications.pagination',
                                        items: 'notifications'),
                                        remote: true,
                                        class: 'all-notifications',
                                        id: 'load-more'
