.notifications
  .notification-head
    = t('notifications.index.header')
  - if @notifications.any?
    = render 'notifications'
  - else
    = t('notifications.index.empty')
  .paginator-link.text-center
    = link_to_next_page @notifications, t('paginator.link',
                                        items: 'notifications'),
                                        remote: true,
                                        class: 'all-notifications'
