%section.posts-wrapper
  - if @posts.any?
    = render 'posts'
  - else
    = t('posts.index.empty')
.posts-pagination.text-center#paginator
  = link_to_next_page @posts, t('posts.pagination'),
                              remote: true,
                              class: 'load-more',
                              id: 'load-more'
