.posts
  - if @posts.any?
    = render 'posts'
  - else
    = t('posts.index.empty')

.paginator.text-center
  = link_to_next_page @posts, t('paginator.button'),
                              remote: true,
                              class: 'load-more'
