= render 'post', post: @post
.text-center.edit-links
  - if @post.user.id == current_user.id
    = link_to t('posts.show.cancel'), posts_path
    |
    = link_to t('posts.show.edit'), edit_post_path(@post)
  - else
    = link_to t('posts.show.cancel'), posts_path
