@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@import "variables";
@import "navbar";
@import "posts";
@import "comments";
@import "likes";
@import "profiles";
@import "notifications";
@import "relationships";
@import "authentication";

html {
  height: 100%;
}

body {
  background-color: $color-snow;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

/* ## Wrapper and styling for the new and edit views ## */

.form-wrapper {
  width: 60%;
  margin: 20px auto;
  background-color: $color-white;
  padding: 40px;
  border: 1px solid $color-azure;
  border-radius: 3px;
}

.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
}

.alert {
  width: 600px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 0px;
}
