@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@import "mixins";
@import "variables";
@import "buttons";
@import "typography";
@import "navbar";
@import "posts";
@import "comments";
@import "profiles";
@import "notifications";
@import "relationships";
@import "authentication";
@import "modal";
@import "footer";

html,
body {
  height: 100%;
}

.container {
  position: relative;

  max-width: 1010px;
  min-width: 860px;
  min-height: 100%;
  padding: 0 40px;
  margin: 0 auto;
}

.form-wrapper {
  width: 60%;
  padding: 40px;
  margin: 20px auto;

  background-color: $color-white;
  border: 1px solid $color-azure;
  border-radius: 3px;
}

.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
}

.alert {
  width: 600px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 0;
}
