@import "bootstrap-sprockets";
@import "bootstrap";

@import "variables";
@import "navbar";
@import "posts";
@import "comments";
@import "likes";
@import "profiles";

html {
  height: 100%;
}

body {
  background-color: $color-snow;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

/* ## Wrapper and styling for the new and edit views ## */

.form-wrapper {
  width: 60%;
  margin: 20px auto;
  background-color: $color-white;
  padding: 40px;
  border: 1px solid $color-azure;
  border-radius: 3px;
}

.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
}

.registration-bg {
  background-color: grey;
  padding: 0;
  margin: 0;
  padding-top: 4em;
  height: 100%;
  background-size: cover;
}

.login-bg {
  padding-top: 4em;
  height: 100%;
  background-size: cover;
}

.login {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: none;
}

.panel {
  border-radius: 8px;
}

.panel-heading h1 {
  text-align: center;
}

.alert {
  width: 600px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 0px;
}
