.panel-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.panel-auth {
  width: 350px;
  padding: 10px 0;
  margin: 0 0 10px;

  background-color: $color-white;
  border: 1px solid $color-border-grey;
  border-radius: 1px;
}

.logo-auth {
  margin: 20px auto 10px;

  text-align: center;

  img {
    height: 53px;
    width: 161px;
  }
}

.header-auth {
  margin: 0 40px 10px;

  font-size: 17px;
  font-weight: 500;
  line-height: 1.2;
  color: $color-header-grey;
  text-align: center;
}

.form-auth {
  margin-bottom: 10px;
}

.form-group {
  margin: 0 40px;
  margin-bottom: 6px;
}

.panel-body {
  padding: 0;
}

.input-auth {
  height: 33px;
  padding: 9px 8px 7px;

  font-size: 14px;
  color: $color-black;

  background-color: $color-white;
  border: 1px solid $color-input-border-grey;
  border-radius: 3px;
  outline: none;

  box-sizing: border-box;

  &:focus {
    border: 1px solid $color-input-border-dark-grey;
    outline: none;

    box-shadow: none;
  }
}

.button-auth {
  display: block;
  margin: 10px 40px 14px;

  &--facebook {
    margin-top: 8px;
    margin-bottom: 0;
  }
}

.divider-auth {
  display: block;
  margin: 18px 40px;
}

.horizontal-line {
  overflow: hidden;

  font-size: 13px;
  font-weight: 500;
  line-height: 1.2;
  color: $color-header-grey;
  text-align: center;
  text-transform: uppercase;

  &::before,
  &::after {
    position: relative;

    display: inline-block;
    width: 50%;
    height: 1px;

    vertical-align: middle;

    background-color: $color-horizontal-grey;
    content: "";
  }

  &::before {
    right: 12px;

    margin-left: -50%;
  }

  &::after {
    left: 12px;

    margin-right: -50%;
  }
}

.text-auth {
  margin: 15px;

  font-size: 14px;
  line-height: 1;
  color: $color-black;
  text-align: center;
}

.fa-facebook-official {
  margin-right: 4px;

  font-size: 19px;
  line-height: 1.6;
  vertical-align: top;
}

.btn-auth {
  width: 100%;
  height: 31px;
  padding: 0 11px;
  overflow: hidden;

  font-size: 15px;
  font-weight: 500;
  line-height: 1.9;
  color: $color-white;
  text-overflow: ellipsis;

  background-color: $color-btnblue;
  border: 1px solid $color-btnblue;
  border-radius: 3px;
  outline: none;

  &:hover {
    color: $color-white;

    background-color: $color-btnblue;
    border: 1px solid $color-btnblue;
  }

  &:focus,
  &:active,
  &:active:focus {
    color: $color-white;

    background-color: $color-btnblue;
    border: 1px solid $color-btnblue;
    outline: none;

    opacity: 0.5;
    box-shadow: none;
  }
}
