// Profile page

.btn-edit {
  border-color: $color-header-grey;
  color: $color-header-grey;

  font-size: 16px;
  font-weight: 600;
  line-height: 1.85;

  padding: 0 11px;

  vertical-align: top;

  &:hover,
  &:focus {
    color: $color-header-grey;
  }
}

.btn-options {
  background-color: transparent;
  background-image: url("icon-options.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: 0;

  cursor: pointer;
  height: 44px;

  outline: none;
  overflow: hidden;

  padding: 0;

  text-align: center;
  text-indent: 100%;
  white-space: nowrap;

  width: 44px;
}

// Modal Window

.btn-close {
  background: transparent;
  border: 0;

  display: block;

  font-size: 0;

  height: 20px;

  margin: 0;
  outline: none;
  padding: 0;

  position: absolute;
  right: 10px;
  top: 5px;

  width: 20px;
}

.btn-close::before,
.btn-close::after {
  border: 2px solid $color-white;

  content: "";

  display: block;

  position: absolute;
  top: 8px;

  width: 20px;
}

.btn-close::before {
  transform: rotate(45deg);
}

.btn-close::after {
  transform: rotate(-45deg);
}
