.comment-like-form {
  align-items: center;
  border-top: 1px solid $color-azure;
  flex-direction: row;
  justify-content: center;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 10px;
  min-height: 68px;
  padding-top: 24px;
}

.comment-content {
  border: medium none;
  color: $color-darkgrey;
  display: inline;
  font-size: 15px;
  line-height: 1.2;
  outline: none;
  width: 100%;
}

.comment-submit-button {
  left: -9999px;
  position: absolute;
}

.comment {
  margin-bottom: 7px;

  .username {
    font-weight: 600;
    margin-right: 0.3em;
  }
}

.comment-delete {
  float: right;
}

.icon-remove {
  color: $color-horizontal-grey;
  margin-top: 2px;
}

.comments-pagination {
  margin-bottom: 7px;
}

.more-comments {
  color: $color-header-grey;
  font-size: 15px;
  line-height: 1.2;

  &:hover,
  &:focus,
  &:visited {
    color: $color-header-grey;
    text-decoration: none;
  }
}
