.comments {
  padding-top: 5px;
  padding-right: 24px;
  padding-left: 24px;
  margin-top: -5px;
  margin-right: -24px;
  margin-bottom: 0;
  margin-left: -24px;
}

.comment {
  margin-bottom: 7px;

  font-size: 0;
  word-wrap: break-word;
  list-style: none;

  .username {
    margin-right: 0.3em;
  }
}

.comment-delete {
  float: right;
  margin-left: 10px;

  font-size: $font-size-base;
  vertical-align: baseline;
}

.icon-remove {
  margin-top: 2px;

  color: $color-horizontal-grey;
}

.comments-pagination {
  margin-bottom: 7px;
}

.more-comments {
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-header-grey;

  &:hover,
  &:focus,
  &:visited {
    color: $color-header-grey;
    text-decoration: none;
  }
}

.comment-like-form {
  min-height: 68px;
  padding-top: 9px;
  padding-bottom: 10px;
  margin: 0;
  margin-top: 13px;

  font-size: 0;

  border-top: 1px solid $color-almond-grey;
}

.like-button {
  display: inline-block;
  padding: 0;

  vertical-align: middle;
}

.comment-form {
  display: inline-block;
  width: 480px;
  padding: 0;

  vertical-align: middle;
}

.comment-content {
  display: inline;
  width: 100%;
  overflow: hidden;

  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-black;
  text-overflow: ellipsis;
  word-wrap: break-word;
  vertical-align: baseline;

  border: medium none;
  outline: none;

  &::placeholder {
    color: $color-header-grey;
  }
}

.comment-submit-button {
  position: absolute;
  left: -9999px;
}
