.likes {
  padding: 20px 0;

  .username a {

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.like,
.like-button a {
  color: $color-heart;

  &:hover,
  &:focus {
    outline: none;
    text-decoration: none;
  }
}
