.navbar-default {
  background-color: $color-white;
  height: 54px;
  margin-bottom: 0;
}

.navbar-container {
  margin: 0 auto;
  width: 70%;
}

.navbar-brand a {
  color: $color-bahamablue;
}

.navbar-nav li a {
  color: $color-bahamablue;
}
