ul {
  list-style: none;
}

.dropdown {
  position: relative;

  display: inline-block;
}

.dropdown-toggle {
  position: relative;

  padding: 0 9px;

  background-color: $color-white;
  border: 0;

  &:hover,
  &:focus,
  &:visited {
    background-color: $color-white;
  }
}

.triangle-with-shadow {
  @include box-shadow($shadows-triangle);

  position: absolute;
  top: 35px;
  right: 14px;

  display: none;
  width: 14px;
  height: 14px;

  background: $color-white;
  border: 1px solid $color-border-grey;
  content: "";

  transform: rotate(45deg);
}

.open > .triangle-with-shadow {
  display: block;
}

.dropdown-menu {
  @include box-shadow($shadows);

  top: 40px;

  width: 500px;
  max-height: 362px;
  min-height: 100px;
  padding: 0;
  margin-left: -412px;

  font-size: 16px;
  line-height: 1;
  text-align: center;

  background: $color-white;
  border: solid 1px $color-border-grey;
  border-radius: 3px;

  &::before {
    position: absolute;
    top: -10px;
    right: 57px;

    display: inline-block;

    border-right: 10px solid transparent;
    border-bottom: 10px solid $color-white;
    border-left: 10px solid transparent;
    content: "";
  }
}

.dropdown-menu-head {
  margin-top: 20px;

  font-weight: 600;
}

.dropdown-menu-empty {
  margin-top: 10px;
}

.dropdown-menu-bottom {
  padding: 8px;
}

.notification-count {
  position: absolute;
  top: 0;
  right: 0;

  width: 14px;
  height: 14px;

  font-size: 10px;
  color: $color-white;

  background-color: $color-iconred;
  border-radius: 20px;
}

.notifications {
  width: 550px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.notification-head {
  padding: 15px;

  font-size: 16px;
  color: $color-black;
  text-align: center;

  background-color: $color-white;
}

.notification__item {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: row;
  min-height: 40px;
  padding: 12px 12px 13px;

  &::after {
    border-bottom: 1px solid $color-lightgrey;
    bottom: 0;
    content: '';
    height: 0;
    left: 58px;
    position: absolute;
    right: 12px;
  }
}

.notification-avatar {
  display: block;
  flex: 0 0 auto;
}

.notification-avatar-image {
  display: inline-block;
}

.notification-avatar-link {
  display: block;
  overflow: hidden;

  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 50%;

  box-sizing: border-box;
}

.notification {
  display: block;
  flex: 1 0 0;
  margin: 0 12px;

  line-height: 1.3;
  color: #262626;
}


.notifications-pagination {
  padding: 15px;

  background-color: $color-white;
  border-top: 1px solid $color-lightgrey;
}

