.notification-dropdown {
  display: inline-block;

  button {
    border: 0;
    padding-bottom: 0;
    padding-top: 0;

    &:hover {
      background-color: $color-white;
    }
  }
}

.dropdown-toggle {
  padding: 0 9px;

  position: relative;
}

.dropdown-menu {
  margin: 0;
  padding: 0;
  width: 300px;
}

.dropdown-menu-head {
  padding: 8px;
}

.dropdown-menu-bottom {
  border-top: 1px solid $color-lightgrey;
  padding: 8px;
}

.notification-count {
  background-color: $color-iconred;
  border-radius: 20px;
  color: $color-white;

  font-size: 10px;

  height: 14px;

  position: absolute;
  right: 0;
  top: 0;

  width: 14px;
}

.notifications {
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 20px;
  width: 550px;
}

.notification-head {
  background-color: $color-white;
  color: $color-black;
  font-size: 16px;
  padding: 15px;
  text-align: center;
}

.notification {
  background-color: $color-white;
  border-top: 1px solid $color-lightgrey;
  padding: 15px;
}

.notifications-pagination {
  background-color: $color-white;
  border-top: 1px solid $color-lightgrey;
  padding: 15px;
}
