.posts {
  padding-top: 60px;
}

.posts-wrapper {
  margin: 0 auto;
  max-width: 602px;
  width: 100%;
}

.post {
  background-color: $color-white;
  border-color: $color-lightgrey;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 60px;
}

.post-head {
  color: $color-black;
  flex-direction: row;
  font-size: 15px;
  line-height: 1.2;
  padding-bottom: 22px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;

  .username,
  .time-ago {
    display: inline;
  }

  .username a {
    color: $color-black;
    font-weight: 600;

    &:hover,
    &:focus {
      color: $color-black;
      text-decoration: none;
    }
  }

  .time-ago {
    color: $color-steelgrey;
    float: right;
  }
}

.post-image {
  border-bottom: 1px solid $color-azure;
  border-top: 1px solid $color-azure;
}

.post-bottom {
  font-size: 15px;
  line-height: 1.2;
  margin-bottom: 5px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
}

.username {
  display: inline;

  a {
    color: $color-black;
    display: inline;
    font-size: 15px;
    font-weight: 600;

    &:hover,
    &:focus {
      color: $color-black;
      text-decoration: none;
    }
  }
}

.description {
  margin-bottom: 7px;
}

.description-content {
  display: inline;

  .username a {
    color: $color-black;
    font-weight: 600;
  }
}

.description-text {
  display: inline;
}

.paginator {
  border: 2px solid $color-btnblue;
  border-radius: 50%;
  color: $color-btnblue;
  display: table;
  height: 120px;
  margin: 60px auto 40px;
  position: relative;
  width: 120px;
}

.load-more {
  color: $color-btnblue;
  display: table-cell;
  font-size: 14px;
  font-weight: 600;
  padding: 0 9px;
  text-decoration: none;
  vertical-align: middle;

  &:hover {
    color: $color-btnblue;
    text-decoration: none;
  }
}
