.profile-wrapper {
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
}

.profile {
  background-color: $color-white;
  border-color: $color-lightgrey;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}

.profile-avatar {
  margin: 20px auto;
}

.profile-header {
  padding: 15px 0;
}

.profile-title-img {
  margin-top: 25px;
  margin-bottom: 20px;
}

.profile-title-bio {
  margin-top: 5px;
  margin-bottom: 15px;
}

.profile-image {
  width: 152px;
  height: 152px;
  margin: 0 auto;

  background-color: $color-snow;
  border: 1px solid $color-avatargrey;
  border-radius: 50%;
}

.profile-details {
  padding: 0;
  padding-right: 15px;
}

.username-and-follow {
  margin-bottom: 20px;

  font-size: 0;
}

.profile-username {
  display: inline-block;
  margin: 0;
  margin-right: 20px;

  font-size: 34px;
  font-weight: 300;
  line-height: 1.2;
  vertical-align: middle;
}

.profile-edit {
  display: inline-block;
  padding: 0;
  margin-right: 4px;

  vertical-align: middle;
}

.profile-options {
  display: inline-block;

  vertical-align: middle;
}

.profile-bio {
  margin-top: 16px;
  margin-bottom: 13px;

  font-size: 15px;
}

.user-statistics {
  padding: 0;
  margin: 0;

  font-size: 0;
  list-style: none;
}

.stat-count {
  display: inline-block;
  margin-right: 40px;

  font-size: 17px;
  line-height: 1;
  vertical-align: middle;

  &:last-child {
    margin-right: 0;
  }

  span {
    font-weight: 600;
  }
}

.profile-text {
  width: 100%;
  padding: 7px;

  border: 1px solid $color-avatargrey;
  border-radius: 3px;
  outline: none;

  resize: none;
}

.profile-text:focus {
  border-color: $color-btnblue;
}

.profile-textarea {
  padding: 0 20px;

  box-sizing: border-box;
}

.profile-btn {
  margin-bottom: 25px;
}
