.follow-btn {
  font-size: 15px;
  font-weight: 500;
  color: $color-btnblue;
  vertical-align: top;

  border-color: $color-btnblue;

  &:hover,
  &:focus,
  &:visited {
    color: $color-btnblue;
  }
}

.unfollow-btn {
  font-size: 15px;
  font-weight: 500;
  color: $color-white;
  vertical-align: top;

  background-color: $color-btngreen;
  border-color: $color-btngreen;

  &:hover,
  &:focus,
  &:visited {
    color: $color-white;

    background-color: $color-darkgreen;
    border-color: $color-darkgreen;
  }
}
