// Colors

$color-white: #ffffff;
$color-snow: #fafafa;
$color-lightgrey: #edeeee;
$color-steelgrey: #a5a7aa;
$color-darkgrey: #4b4f54;
$color-avatargrey: #c9c7c8;
$color-azure: #eeefef;
$color-bahamablue: #125688;
$color-heart: #ff0000;
$color-black: #262626;
